<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <footer th:fragment="footer" class="py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Felix Huber POS-Projekt</h5>
                    <p>© 2025 Keine Ahnung warum das da immer steht</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/Die-Spengergasse/sj2425-4chif-pos-business-backend-application-Felilou">GitHub Repository</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
